
.terraform/
*.tfstate.*
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars
*.tfvars.json
crash.log
terraform.tfvars.json
*.backup
*tfplan*


crash.log
crash.*.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraform.lock.hcl
terraform.tfstate.lock.info


**/secrets.yml
**/secrets.yaml
**/secrets.env
*.pem
*.key
*.crt
*.cer


.vscode/


*.log
*.tmp
*.swp
.DS_Store
Thumbs.db


*.bak
*.old


**/hosts
**/hosts.yml